<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pri.recordview"
    android:sharedUserId="android.uid.system"
    android:versionCode="140240428"
    android:versionName="14.0.240428">

    <application
        android:name="com.pri.recordview.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/adaptiveproduct_theme"
        android:label="@string/app_name_title"
        android:supportsRtl="true"
        android:theme="@style/FloatWindowTheme">

        <activity
            android:name="com.pri.recordview.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:label="@string/app_name_title"
            android:theme="@style/FloatWindowTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

            <intent-filter android:priority="20">
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter android:priority="8">
                <action android:name="com.android.settings.action.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.IntelligentAssist" />

            <meta-data
                android:name="com.android.settings.order"
                android:value="30" />

            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/app_item_icon" />

            <meta-data
                android:name="com.android.settings.title"
                android:resource="@string/app_name_title" />

            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/app_name_summary" />

        </activity>

        <provider
            android:name="com.pri.recordview.search.RecordViewSearchIndexablesProvider"
            android:authorities="com.pri.recordview"
            android:exported="true"
            android:grantUriPermissions="true"
            android:multiprocess="false"
            android:permission="android.permission.READ_SEARCH_INDEXABLES">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER" />
            </intent-filter>
        </provider>

        <service
            android:name="com.pri.recordview.ScreenRecordFloatWindowService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:priority="1000" />

        <receiver android:exported="true" android:name="com.pri.recordview.receiver.BootReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.pri.security.SecurityActivity"
            android:enabled="true"
            android:exported="true"/>

    </application>

    <!-- add permission intent start -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_APP_OPS_MODES" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- fixbug ZRT606U-165 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <!-- add permission intent end -->

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />

</manifest>